@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    </div>
    <form method="post">
        <div>
            <label for="txtName"> Name:</label>
            <input id="txtName" placeholder="Enter Name" required type="text"/>  

        </div>
        <div>
            <label for="txtName">Password: </label>
            <input id="txtName" placeholder="Password" requiredtype="password"/>

        </div>
        <div>
            <input type="Submit" value="Ok"/>
        </div>
    </form>
